.img {
  width: 100%;
  display: block;
}

.form {
  width: 960px;
  padding: 10rem;
  margin: 2rem auto;
  box-shadow: 10px 10px 10px 10px rgba(216, 215, 215, 0.5);
  border-radius: 10px;
  font-family: poppins;
}

.input-field {
  width: 100%;
  margin: auto;
  padding: 10px;
  margin: 2px 0 10px 0;
  border: 1px solid #d1d5db;
  border-radius: 7px;
  outline: none;
  font-family: poppins;
}

.password-container {
  position: relative;
}

.eye-container {
  position: absolute;
  cursor: pointer;
  right: -11px;
  bottom: 16px;
  color: #737b86;
}

.span-text {
  color: #f78719;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}
.cng-pass {
  color: #f78719;
  cursor: pointer;
}

.checkbox-1 {
  color: #737b86;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.checkbox-2 {
  color: #737b86;
  margin: 0;
  padding: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.login-btn {
  cursor: pointer;
  width: 500px;
  padding: 10px;
  margin-top: 10px;
  background: #1575a7;
  color: white;
  border: none;
  border-radius: 8px;
}

.register-text {
  text-align: center;
}
